<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("anthony-delanoix-hzgs56Ze49s-unsplash.jpg", class: 'd-block w-100') %>
    </div>
    <div class="carousel-item">
      <%= image_tag("charlie-solorzano-9cIgrJFuhMA-unsplash.jpg", class: 'd-block w-100') %>
    </div>
    <div class="carousel-item">
      <%= image_tag("felix-koutchinski-FOro6jhMw30-unsplash.jpg", class: 'd-block w-100') %>
    </div>
    <div class="carousel-item">
      <%= image_tag("krists-luhaers-DSB1MZWsGco-unsplash.jpg", class: 'd-block w-100') %>
    </div>
    <div class="carousel-item">
      <%= image_tag("mack-fox-musicfox-IV4db_thdMA-unsplash.jpg", class: 'd-block w-100') %>
    </div>
    <div class="carousel-item">
      <%= image_tag("patricia-prudente-eo0VBI3Q8Ss-unsplash.jpg", class: 'd-block w-100') %>
    </div>
    <div class="carousel-item">
      <%= image_tag("jason-rosewell-ASKeuOZqhYU-unsplash.jpg", class: 'd-block w-100') %>
    </div>
    <div class="carousel-item">
      <%= image_tag("cristi-tohatan-Mfqi4ocdoB0-unsplash.jpg", class: 'd-block w-100') %>
    </div>
  </div>
</div>
